<header role="banner">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="page-title"><a href="/"><span class="name">Cahamo&rsquo;s</span> <span class="standout">Electronic</span> Adventures</a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/projects/tongue-drum">Electro-Tongue Drum</a>
            <a class="dropdown-item" href="/projects/diorama">Diorama Electronics</a>
            <a class="dropdown-item" href="/projects/guitar-case-sensor">Guitar Case Humidity Sensor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled" href="#">Kits</a>
            <a class="dropdown-item" href="/projects/kits/circular-led-chaser">Circular LED Chaser [Kit Bash]</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/pipeline">In the pipeline</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/resources/dfplayer-mini">DFPlayer Mini</a>
            <a class="dropdown-item" href="/resources/e40561-4-digit-7seg-led">E40561 4 &times; 7 Segment LED display</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/resources/links">Useful Links</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
