// Bootstrap overrides

body {
    background-color: $body-bg;
    color: $body-color;
    font-family: $font-family-main;
}

code {
    color: $color-grey-dark;
}

a, a:hover, a:visited, a:active {
    color: $color-secondary-1;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-primary;
    font-weight: normal;
    font-style: normal;
    font-family: $font-family-heading;
}

h1, .h1 {
    font-size: 1.6rem;
}

h2, .h2 {
    font-size: 1.4rem;
}

h3, .h3 {
    font-size: 1.2rem;
}

h4, .h4 {
    font-size: 1.1rem;
}

h5, .h5 {
    font-size: 1rem;
    font-weight: bold;
}

h6, .h6 {
    font-size: 1rem;
    font-style: italic;
}

.list-group {
    border: $color-grey-light 2px solid;
    border-radius: 0;

    h3, .h3 {
        font-size: 1rem;
    }

    a:visited {
        color: $body-color;
    }
}

b {
    color: $color-primary;
    font-weight: bold;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: $color-secondary-2;
    width: 2rem;
    height: 2rem;
}

.carousel-indicators {
    background-color: rgba($color-secondary-2, 0.75);
    height: 2rem;
    padding: 0.45rem;
}


.page-title {
    font-family: $font-family-heading;
    color: $body-color;
    padding-bottom: 4px;
    padding-right: 1rem;
    font-size: 24px;

    .name {
        font-weight: bold;
    }

    .standout {
        color: $color-primary;
    }

    a, a:hover, a:visited, a:active {
        color: $body-color;
        text-decoration: none;
    }
}

.nav-btn {
    // background-color: darken($color-grey, 15%);
    background-color: lighten($color-secondary-2-dark, 10%);
    border: none;
    border-radius: 10px;
    color: $white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: $color-secondary-2-darker;
        text-decoration: none;
    }
    a {
        color: $white;
        text-decoration: none;
    }
  }

ul.nav-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
        margin: 0 auto;
        padding: 0;
        display: block;
        text-align: center;
        font-weight: bold;
        &.nav-2 {
            margin: 8px 0;
        }
    }

    @media (min-width: 600px) {
        li {
            display: inline-block;
            &.nav-1 {
                margin: 0 0 8px 0;
            }
            &.nav-2 {
                float: right;
                margin: 0 0 8px 0;
            }
           }
    }
}

footer {
    font-size: 80%;
    color: $color-grey-dark;
}

pre {
    overflow-x: auto;
  }

