// Bootstrap overrides

body {
    background-color: $body-bg;
    color: $body-color;
    font-family: $font-family-main;
}

code, pre {
    color: $color-grey-dark;
    font-family: $font-family-code;
}

pre {
    overflow-x: auto;
}


a, a:hover, a:visited, a:active {
    color: $color-secondary-1;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-primary;
    font-weight: normal;
    font-style: normal;
    font-family: $font-family-heading;
}

h1, .h1 {
    font-size: 1.6rem;
}

h2, .h2 {
    font-size: 1.4rem;
}

h3, .h3 {
    font-size: 1.2rem;
}

h4, .h4 {
    font-size: 1.1rem;
}

h5, .h5 {
    font-size: 1rem;
    font-weight: bold;
}

h6, .h6 {
    font-size: 1rem;
    font-style: italic;
}

table caption {
    caption-side: top;
    font-weight: bold;
    border-top: 1px solid $color-grey-light;
    padding: 0.5rem;
    text-align: center;
}

.list-group {
    border: $color-grey-light 2px solid;
    border-radius: 0;

    h3, .h3 {
        font-size: 1rem;
    }

    a:visited {
        color: $body-color;
    }
}

b {
    color: $color-primary;
    font-weight: bold;
}

.lead {
    font-weight: normal;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: $color-secondary-2;
    width: 2rem;
    height: 2rem;
}

.carousel-indicators {
    background-color: rgba($color-secondary-2, 0.75);
    height: 2rem;
    padding: 0.45rem;
}


.page-title {
    font-family: $font-family-heading;
    color: $body-color;
    padding-bottom: 4px;
    padding-right: 1rem;
    font-size: 24px;

    .name {
        font-weight: bold;
    }

    .standout {
        color: $color-primary;
    }

    a, a:hover, a:visited, a:active {
        color: $body-color;
        text-decoration: none;
    }
}

footer {
    font-size: 80%;
    color: $color-grey-dark;
}

pre {
    overflow-x: auto;
  }

.navbar-light {
    background-color: lighten($color-primary-lighter, 42%) !important;
    border-bottom: 1px lighten($color-primary-lighter, 38%) solid;
    margin-bottom: 1rem;
}

.caption {
    font-style: italic;
    font-size: 90%;
    color: $color-grey-darker;
}