<!DOCTYPE html>

<html lang="en">

<head>

{% include head.html %}
{% assign canonicalURL = page.redirect.to | remove: ".html" %}
<link rel="canonical" href="{{ canonicalURL }}">
<script>location="{{ canonicalURL }}"</script>
<meta http-equiv="refresh" content="0; url={{ canonicalURL }}">
<meta name="robots" content="noindex">
<title>Redirecting&hellip;</title>

</head>

<body>

<div class="container">

{% include header.html %}

<main id="content" roll="main">

    <h1 class="display-4">Redirecting&hellip;</h1>

    <p class="my-4">This page has moved to <strong><a href="{{ canonicalURL }}">{{ canonicalURL }}</a></strong></p>

    <p class="my-4"><a href="{{ canonicalURL }}">Click here</a> if you are not redirected soon, or choose another page from the menu at the top of this page.</p>

</main>

</div><!-- /.container -->

</body>

</html>